ul.catalog#catalog
    .catalog__block-mobile
        li.catalog__item-mobile
            include ../../assets/img/svg-sprites/arrow-right.svg
            a.catalog__link-mobile.catalog__link-mobile--has-icon#catalogClose(href="#") Закрыть
        li.catalog__item-mobile
            a.catalog__link-mobile.catalog__link-mobile--border-none.catalog__link-mobile--center(href="catalog.html") Перейти в каталог
    .catalog__block-main
        li.catalog__item
            a.catalog__link(href="#") Автомодели
            ul.subcatalog
                li.subcatalog__item
                    a.subcatalog__link(href="#") Для начинающих (Соосные)
                li.subcatalog__item
                    a.subcatalog__link(href="#") С электродвигателем
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты с ДВС
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты Mikado
        li.catalog__item
            a.catalog__link(href="#") Самолеты
            ul.subcatalog
                li.subcatalog__item
                    a.subcatalog__link(href="#") Для начинающих (Соосные)
                li.subcatalog__item
                    a.subcatalog__link(href="#") С электродвигателем
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты с ДВС
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты Mikado
        li.catalog__item
            a.catalog__link(href="#") Вертолеты
            ul.subcatalog
                li.subcatalog__item
                    a.subcatalog__link(href="#") Для начинающих (Соосные)
                li.subcatalog__item
                    a.subcatalog__link(href="#") С электродвигателем
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты с ДВС
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты Mikado
        li.catalog__item
            a.catalog__link(href="#") Аккумуляторы, кабели
            ul.subcatalog
                li.subcatalog__item
                    a.subcatalog__link(href="#") Для начинающих (Соосные)
                li.subcatalog__item
                    a.subcatalog__link(href="#") С электродвигателем
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты с ДВС
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты Mikado
        li.catalog__item
            a.catalog__link(href="#") Аппаратура
            ul.subcatalog
                li.subcatalog__item
                    a.subcatalog__link(href="#") Для начинающих (Соосные)
                li.subcatalog__item
                    a.subcatalog__link(href="#") С электродвигателем
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты с ДВС
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты Mikado
        li.catalog__item
            a.catalog__link(href="#") Инструмент, материалы
            ul.subcatalog
                li.subcatalog__item
                    a.subcatalog__link(href="#") Для начинающих (Соосные)
                li.subcatalog__item
                    a.subcatalog__link(href="#") С электродвигателем
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты с ДВС
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты Mikado
        li.catalog__item
            a.catalog__link(href="#") Винты, крепеж, клей
            ul.subcatalog
                li.subcatalog__item
                    a.subcatalog__link(href="#") Для начинающих (Соосные)
                li.subcatalog__item
                    a.subcatalog__link(href="#") С электродвигателем
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты с ДВС
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты Mikado
        li.catalog__item
            a.catalog__link(href="#") Двигатели ДВС
            ul.subcatalog
                li.subcatalog__item
                    a.subcatalog__link(href="#") Для начинающих (Соосные)
                li.subcatalog__item
                    a.subcatalog__link(href="#") С электродвигателем
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты с ДВС
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты Mikado
        li.catalog__item
            a.catalog__link(href="#") Электродвигатели
            ul.subcatalog
                li.subcatalog__item
                    a.subcatalog__link(href="#") Для начинающих (Соосные)
                li.subcatalog__item
                    a.subcatalog__link(href="#") С электродвигателем
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты с ДВС
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты Mikado
        li.catalog__item
            a.catalog__link(href="#") Катера, яхты
            ul.subcatalog
                li.subcatalog__item
                    a.subcatalog__link(href="#") Для начинающих (Соосные)
                li.subcatalog__item
                    a.subcatalog__link(href="#") С электродвигателем
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты с ДВС
                li.subcatalog__item
                    a.subcatalog__link(href="#") Вертолеты Mikado