footer.footer
    .footer__top
        nav.nav
            a.nav__link.nav__link--footer(href="#") О компании
            a.nav__link.nav__link--footer(href="catalog.html") Каталог
            a.nav__link.nav__link--footer(href="#") Доставка
            a.nav__link.nav__link--footer(href="#") Наши магазины
            a.nav__link.nav__link--footer(href="#") Оптовикам
            a.nav__link.nav__link--footer(href="#") Контакты
    .footer__bottom
        .footer__inner
            .footer__item
                address.contacts
                    .contacts__item.
                        © 2007-2011 Интернет-супермаркет «<a class="contacts__link" href="#">Elwau.ru</a>»
                    .contacts__item.
                        Адрес: 105118, г.Москва, ул. Кирпичная, д. 22
                    .contacts__item.
                        Тел.:
                        <a class="contacts__link" href="tel:+74955405511">+7 (495) 540-55-11</a>,
                        <a class="contacts__link" href="tel:+88005555590">8 (800) 555-55-90</a>
                    .contacts__item.
                        Email:
                        <a class="contacts__link" href="mailto:info@elwau.ru">info@elwau.ru</a>
            .footer__item
                .footer__author. 
                    Дизайн сайта - <a class="footer__link" href="#" target="_blank">Плюснин Никита</a>
    
