.news
    .news__item
        time.news__date(datetime="2011-10-12") 12.10.2011
        a.news__link(href="#") Много скидок!
        p.news__text.
            Скоро ноябрь, а это значит, что скоро вас ждет 
            большое количество скидок в связи с нашим юбелеем.
    .news__item
        time.news__date(datetime="2011-10-12") 12.10.2011
        a.news__link(href="#") Обменя старое на новое!
        p.news__text.
            Скоро ноябрь, а это значит, что скоро вас ждет 
            большое количество скидок в связи с нашим юбелеем.
    .news__item
        time.news__date(datetime="2011-10-12") 12.10.2011
        a.news__link(href="#") Обновление в каталогах!
        p.news__text.
            Скоро ноябрь, а это значит, что скоро вас ждет 
            большое количество скидок в связи с нашим юбелеем.