$сolor-main: #4f4f4f;
$color-accent: #e27d55;
$orange: #ed6d3b;
$black: #000000;
$red: red;
$blue: rgb(0, 119, 255);
$green: green;
$white: #fff;
$white-darken: #f8f8f8;
$white-dark: #F3F2F0;
$white-darkest: #e2e2e2;
$gray: #8c8c8c;
$gray-dark: #747474;
$gray-light: #727272;

$base-font-size: 1.3rem;

$border-radius: 3px;